# fly.toml app configuration file generated for usdcx-bridge-mcp-icy-breeze-2677 on 2026-01-22T20:42:48Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'usdcxbridge'
primary_region = 'ord'

[build]

[deploy]
  strategy = 'rolling'

[env]
  ETHEREUM_DOMAIN = '0'
  NODE_ENV = 'production'
  STACKS_DOMAIN = '10003'
  STACKS_NETWORK = 'testnet'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '15s'
    timeout = '2s'
    grace_period = '1s'

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
